h1{
        text-align: center;
}

h2 {
        font-size: 12px;
        text-align: left
}

img {
        height: 200px;
        align: center;
}

a {
        font-family: Century Gothic, sans-serif;
}