h1{
        text-align: center;
}

h2 {
        font-size: 22px;
        text-align: left
}

h3 {
        font-size: 18;
        text-align: left;
        text-indent: 10px;
        font-family: Century Gothic, sans-serif;
}

img {
        height: 200px;
}

a {
        font-family: Century Gothic, sans-serif;
}